
:root {
    --first: #1D2b64;
    --second: #F8CDDA;
    --x: #614385;
    --y: #516395;
}
  
.dashboard {
    background: linear-gradient(to top right, var(--x), var(--y));
    overflow-y: scroll;
    /* display: flex;
    width: 100% */
}

.dashboard h2{
    color: white;
}

.cardItem {
  text-align: center;
}

.cardItem:hover {
	/* cursor: pointer; */
	background-color: rgb(60, 62, 77);
	opacity: 0.9;
	color: white;
}

/* .custom-scrollbars__content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .custom-scrollbars__content::-webkit-scrollbar {
    display: none;
  } */
  
  .special_modal .modal-content{
    /* background: linear-gradient(to bottom right,  var(--x), var(--y)); */
    background: rgb(60, 62, 77);
    color: white
 }  