
:root {
    --first: #1D2b64;
    --second: #F8CDDA;
    /* --first: #E55D87;
    --second: #5FC3E4; */
  }
  
.dashboard {
    background: linear-gradient(to bottom right, var(--first), var(--second));
    overflow-y: scroll;
}

.dashboard h2{
    color: white;
}

.dashboard .expand-player{
    text-align: center;
    /* background: linear-gradient(to bottom right, #485563, #29323c); */
    --first: #485563;
    --second: #29323c;
    color: white;
}