
:root {
    --first: #1D2b64;
    --second: #F8CDDA;

}
  
.dashboard {
    background: linear-gradient(to bottom right, var(--first), var(--second));
    overflow-y: scroll;
}

.dashboard h2{
    color: white;
}

/* .custom-scrollbars__content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .custom-scrollbars__content::-webkit-scrollbar {
    display: none;
  } */