.sidebar-container {
    grid-area: sidebar;
    padding: 50px 32px;
    background: rgb(60, 62, 77);
    /* min-width: 150px;
    max-width: 250px; */
    width: 230px;
}

.sidebar-container .item {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 20px 0;
    font: 18px
}

.sidebar-container .item:hover {
    cursor: pointer;
    color: #d3afff;
    /* rgba(255, 255, 255, 0.6) */
}

.sidebar-container .item span {
    margin-left: 12px;
}

.sidebar-container .sidebar-library {
    margin-top: 100px;
}

.sidebar-container .sidebar-library h4 {
    font-weight: 400;
    margin-left: 12px;
    color: rgb(122, 124, 133);
}

.sidebar-container .sidebar-mobile {
    display: none;
}

.sidebar-icon {
    display: none;
}

.sidebar-active span,
.active .icon {
    color: #ffffff;
}

@media (min-width: 700px) {
    .sidebar-container {
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
}

@media (max-width: 700px) {
    .sidebar-icon {
        display: block;
    }
    .sidebar-container {
        display: flex;
        height: 100%;
        min-width: 100vw;
        padding: 0;
        position: sticky;
        bottom: 0;
        z-index: 9999;
    }
    .sidebar-container .sidebar-library,
    .sidebar-topics {
        display: none;
    }
    .sidebar-container .sidebar-mobile {
        display: flex;
        width: 100%;
    }
    .sidebar-container .sidebar-mobile .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .sidebar-container .item span {
        margin: 0;
    }
}